@import 'tailwindcss';

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../public/assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../public/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

:root {
  --background: #2D65A0;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins-Regular';
}

#demo {
  background: red;
}